{% extends "base.html" %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 90%; margin-left: auto; margin-right: auto;">
      <img src="{{ product.image.url }}" alt="{{product.title}}">
    </div>
  </div>
</div>


<main class="pt-2">
  <div class="container" style="max-width: 1000px">

    <div class="row g-3">
      <div class="alert alert-primary fw600 rounded-0 border-0 py-3" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
          class="bi bi-info-circle me-2" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        COVID-19 - <u>Click here for our latest updates</u> on our stores, website and contact centre. Thank you for
        your patience and support.
      </div>
      <div class="col-12 d-flex justify-content-between">

      </div>

      <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
        <div class="d-grid gap-2">

          <div class="d-flex d-flex-inline justify-content-between">
            <div><span class="h3">£{{ product.price }}</span>
              <p class="text-muted">includes tax</p>
            </div>
            <div class="">
              <label for="">Qty</label>
              <input id="select" class="" style="width:50px;height:40px;" type="number" value="1" max="{{product.qty}}"
                min="1">
            </div>
          </div>
          <small class="d-block mt-1 text-secondary" id="quantity-text">&dash; ({{product.qty}})
            book{{product.qty|pluralize}} avaliab
          </small>

          {% if product.description|length > 200 %}
          <div id="product-truncate-desc">
            {{product.description|capfirst|escape|truncatewords:20}}
            <button onclick="seeMore()" id="see-more-btn" class="update_remove_button_css">
              see more
            </button>
          </div>
          <div class="not-visible" id="product-desc">
            {{product.description|escape|capfirst}}
            <button id="see-less-btn" onclick="seeLess()" class="update_remove_button_css">
              see less
            </button>
          </div>
          {% elif not product.description %}
          <div>
            This book dosen't have description
          </div>
          {% else %}
          <div>
            {{product.description|capfirst|escape}}
          </div>
          {% endif %}

          <hr>
          <button type="button" id="add-btn" value="{{product.id}}" class="btn btn-success fw500">Add to
            cart</button>

          <button type="button" id="add-button" value="{{product.id}}" class="btn btn-light fw500">Add to
            Favorites</button>
        </div>
      </div>

      <div class="col-md-7 col-lg-7 p-0">
        <div class="card mb-3 border-0">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body p-1">
                <h1 class="mb-0 h2 pe-4 pb-4">{{ product.title }}</h1>
                <div class="bg-light">
                  <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image"
                      src="{{ product.image.url }}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
</main>



<script>
  
  const addCartBtn = document.getElementById("add-btn")
  const product_qty = document.getElementById("select")

  const qtyMessage = document.getElementById("quantity-text")

  const productTruncateDesc = document.getElementById("product-truncate-desc")
  const productDesc = document.getElementById("product-desc")



  function seeMore() {
    productTruncateDesc.classList.add("not-visible")
    productDesc.classList.remove("not-visible")
  }

  function seeLess() {
    productTruncateDesc.classList.remove("not-visible")
    productDesc.classList.add("not-visible")

  }


  function textMessage(type, data) {
    if (type === "success") {
      qtyMessage.innerHTML = `books added to cart`
      qtyMessage.classList.add("text-success")
      setTimeout(() => {
        qtyMessage.innerHTML = `&dash; ({{product.qty}}) book{{product.qty|pluralize}} avaliab`
        qtyMessage.classList.remove("text-success")
        qtyMessage.classList.add("text-secondary")

      }, 3000)
    } else {
      qtyMessage.innerHTML = `quantity must greater than 0 and less than or equal ${data.erorr_quantity}`
      qtyMessage.classList.add("text-danger")
      setTimeout(() => {
        qtyMessage.innerHTML = `&dash; ({{product.qty}}) book{{product.qty|pluralize}} avaliab`
        qtyMessage.classList.remove("text-danger")
        qtyMessage.classList.add("text-secondary")

      }, 3000)
    }
  }


  addCartBtn.addEventListener("click", (e) => {
    scroll({
      top: 0,
      behavior: "smooth",
    })
    e.preventDefault()
    const productId = e.target.value
    const qtyValue = product_qty.value

    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_add' %}",
      data: {
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "product_id": productId,
        "qty_value": qtyValue,
        "action": "post"
      },
      // data: formData,
      success: function (data) {

        if (data.erorr_quantity) {
          textMessage("fails", data)

        } else {

          document.getElementById("cart-products-number").innerHTML = data.cart_length
          textMessage("success", data)
        }


      },
      error: (xhr, errmsg, err) => {
        console.log(errmsg)
      }

    })

  })



</script>
{% endblock %}