{% extends "base.html" %}


{% block title %}

Search
  
    
{% endblock title %}



{% block content %}
    


<section class="mt-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Books store</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Contact us</a>
      </p>
    </div>
  </div>
</section>
<form action="{% url 'store:search' %}" method="GET" class="d-flex mb-5">
  <input class="form-control me-2" placeholder="Search" name="q">
  <button class="btn btn-outline-success">Search</button>
</form>

  <div class="album py-5" style="background-color: #f8f9fa;">
    <div class="container">
      
      {% if procucts %}
      <div class="pb-3 h5">"{{search_word}}" books</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for product in procucts %}
          
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid d-block" src="{{product.image.url}}" alt="responsive image">
            <div class="card-body">
              <a class="text-dark text-decoration-none mb-2 d-block" href=""><p class="card-text">{{product.title|truncatewords:10}}</p></a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{product.get_absolute_url}}" class="btn btn-sm btn-outline-secondary">View</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{product.created}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>

      {% else %}

      <p class="lead text-muted d-block text-center">We don't have books with "{{search_word}}" word</p>

      {% endif %}

    </div>
  </div>

{% endblock content %}
    
    