{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Update My Profile
{% endblock title %}




{% block content %}


<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you shure you want delete account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'account:delete_user' %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger fw-bold">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-10  mx-auto">
              <form action="" method="POST" class=" rounded  mx-auto">
                <h2 class="mb-4 font-weight-bold">Update Profile</h2>

                {% csrf_token %}
                {{form|crispy}}


                <input type="hidden" name="next" value="{{ next }}">
                <button class="btn btn-primary fw-bold" type="submit" value="update">Update </button>

                <a type="button" class="btn btn-danger fw-bold" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Delete</a>
              </form>
              <div class="mt-2">
                <a href="{% url 'account:password_change' %}">Change your password</a>,&nbsp;
                <a href="#">Change your e-mail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}