{% extends "base.html" %}


{% block title %}
cart
{% endblock title %}



{% block content %}



<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2">Your Cart</h1>
    </div>
    <div class="col-12">
      <p>Manage your <b>items</b> in your cart</p>
    </div>
    <hr />
  </div>

  <div class="container" style="max-width: 1000px">

    <div class="row g-3">

      {% if cart_ %}



      <div class="col-12 bg-light p-3 d-flex justify-content-between">
        <div class="d-flex d-flex-inline">
          <div class="pe-3">Order</div>
          <div class="dropdown">
            <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              Shipping options
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownLink">
              <li class="item small">
                <a onclick="deleveryOption('delivery')" class="dropdown-item" href="#">
                  Courier delivery</a>
              </li>
              <li class="item small">
                <a onclick="deleveryOption('not-delivery')" class="dropdown-item" href="#">Recipient pickup</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-end">

          <div class="" id="subTotal-d">Sub Total: <span class="fw-bold">£</span>
            <div id="cart-total-price" class="d-inline-flex fw-bold">{{cart.get_total_price}}</div>
          </div>
          <div id="delevery-div">Shipping <span class="small">(Courier delivery)</span>: <span class="fw-bold">£<span
                id="delivery">{{ transport_cost }}</span></span></div>
          <div class="pt-2">Total to pay: <span class="fw-bold h5">£</span><span id="cart-total-price-after-delivery"
              class="fw-bold h5"></span></div>

        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
        <div class="d-grid gap-2 ">
          <a role="button" href="{% url 'order:order_create' %}" class="btn btn-success fw-bold"
            type="button">Checkout</a>
          <button class="btn btn-light" type="button">Save for later</button>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 p-0">

        {% for item in cart_ %}
        {% with product=item.product %}

        <div class="card mb-3 border-0 product-item" id="pro-{{product.id}}">
          <div class="row g-0">
            <div class="col-md-2 d-none d-md-block">
              <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{ product.image.url }}" />
            </div>
            <div class="col-md-10 ps-md-3">
              <div class="card-body p-1">
                <a class="text-decoration-none text-reset" href="{{item.product.get_absolute_url}}">
                  <p class="card-text pb-3">{{product.title}}</p>
                </a>
                <!-- <label for="select">Qty</label>
                    <select id="select{{product.id}}" style="width:50px;height:31px;">
                      <option value="" selected disabled hidden>{{item.qty}}</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select> -->
                <input style="width:50px;height:31px;" id="up-{{product.id}}" value="{{item.quantity}}" type="number"
                  max="{{product.qty}}" min="1">
                <label for="">Qty</label>

                <button onclick="updateProduct(this.id)" id="{{product.id}}" name="update-btn"
                  class="update_remove_button_css small ps-3">Update</button>
                <button onclick="deleteProduct(this.id)" id="{{product.id}}" name="delete-btn"
                  class="update_remove_button_css small">Delete</button>
              </div>

              <small name="test-massage" id="text-message-{{product.id}}" class="text-secondary small">&nbsp; number of
                available
                books to buying are
                {{item.product.qty}}
                book{{item.product.qty|pluralize}} </small>
            </div>
          </div>
        </div>
        {% endwith %}
        {% endfor %}
      </div>
      {% else %}
      <p class="text-center text-secondary mt-5">You don't have books in your cart yet.. <a
          href="{% url 'store:all_products' %}">book list</a></p>
      {% endif %}
    </div>

  </div>
</main>




<script>

  // total number of products from the header
  const totalQuantity = document.getElementById("cart-products-number")


  const cartTotalPrice = document.getElementById("cart-total-price")

  const cartTotalPriceAfterDelivery = document.getElementById("cart-total-price-after-delivery")
  let delivery = document.getElementById("delivery")
  let dv = "delivery";

  //const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value
  // console.log(csrf)

  // const itemTotalPrice = document.getElementsByName("item-product-price")


  // update the number of products in the navbar
  if (parseFloat(cartTotalPrice.innerHTML) == 0) {
    cartTotalPriceAfterDelivery.innerHTML = `0`

  } else {

    cartTotalPriceAfterDelivery.innerHTML = `${parseFloat(cartTotalPrice.innerHTML) + parseFloat(delivery.innerHTML)}`
  }



  // delete product
  function deleteProduct(id) {
    const productId = id
    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_delete' %}",
      data: {
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "product_id": productId,
        "action": "delete",
      },
      success: function (data) {


        // remove the item from the page
        let proId = `pro-${productId}`
        document.getElementById(proId).remove()

        // update total cart products number and total cart price
        totalQuantity.innerHTML = data.cart_length
        cartTotalPrice.innerHTML = data.cart_total_price
        delivery.innerHTML = data.transport_cost

        if (parseFloat(cartTotalPrice.innerHTML) == 0) {
          cartTotalPriceAfterDelivery.innerHTML = `0`

        } else {

          cartTotalPriceAfterDelivery.innerHTML = `${parseFloat(cartTotalPrice.innerHTML) + parseFloat(data.transport_cost)}`
        }

      },
      error: (xhr, errmsg, err) => {
        console.log(err)
      }
    })
  }




  const getTextMessage = (productId, type, data = null) => {
    const errorMessageId = document.getElementById(`text-message-${productId}`)
    if (type == "updated") {
      errorMessageId.innerHTML = `&nbsp; books quantity updated`
      errorMessageId.classList.remove("text-danger")
      errorMessageId.classList.add("text-success")
    } else {
      if (type == "not-updated") {
        errorMessageId.innerHTML = `&nbsp; The quantity must greater than 0 and less than or equal ${data.erorr_quantity}`
        errorMessageId.classList.remove("text-secondary")
        errorMessageId.classList.add("text-danger")
      }
    }

  }


  function updateProduct(id) {
    const productId = id;
    let qty = document.getElementById(`up-${productId}`).value
    // console.log(qty)
    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_update' %}",
      data: {
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "product_id": productId,
        "quantity": qty,
        "action": "put"
      },
      success: function (data) {
        console.log(data)

        if (data.erorr_quantity) {

          getTextMessage(productId, "not-updated", data = data)

        } else {


          totalQuantity.innerHTML = data.cart_length
          cartTotalPrice.innerHTML = data.cart_total_price
          delivery.innerHTML = data.transport_cost

          if (parseFloat(cartTotalPrice.innerHTML) == 0) {
            cartTotalPriceAfterDelivery.innerHTML = `0`
          } else {

            if (dv === "delivery") {

              cartTotalPriceAfterDelivery.innerHTML = `${parseFloat(cartTotalPrice.innerHTML) + parseFloat(data.transport_cost)}`
            } else {
              cartTotalPriceAfterDelivery.innerHTML = `${parseFloat(cartTotalPrice.innerHTML)}`

            }
          }



          getTextMessage(productId, "updated")

          // update item total price
          // itemTotalPrice.forEach(el => {
          //   const product_id = el.id
          //   if (product_id == productId) {
          //     el.innerHTML = data.item_total_price
          //   }
          // })

        }
      },
      error: function (xhr, errmsg, err) {
        console.log(errmsg)
      }

    })
  }


  function deleveryOption(delevery) {
    dv = delevery
    if (delevery != "delivery") {
      document.getElementById("subTotal-d").classList.add("not-visible")
      document.getElementById("delevery-div").classList.add("not-visible")
      cartTotalPriceAfterDelivery.innerHTML = `${parseFloat(cartTotalPrice.innerHTML)}`
    } else {
      document.getElementById("subTotal-d").classList.remove("not-visible")
      document.getElementById("delevery-div").classList.remove("not-visible")
      cartTotalPriceAfterDelivery.innerHTML = `${parseFloat(cartTotalPrice.innerHTML) + parseFloat(delivery.innerHTML)}`
    }
  }





</script>


{% endblock content %}