{% extends 'base.html' %}


{% block title %}
Password reset
{% endblock title %}





{% block content %}
<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2">Password reset</h1>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <h1>Password set</h1>
      <p>Your password has been set. You can
        <a href="{% url  'account:login' %}">log in now</a>
      </p>
    </div>
  </div>
</main>
{% endblock content %}